<div class="row">
	<div class="col s4 card-panel light-blue darken-2 offset-s4">
		<h4 class="white-text center-align">Carlos Alberto García de Alba Chávez</h4>
		<h5 class="white-text center-align">Técnico en Programación</h5>
	</div>
</div>

<h3 class="center-align">En construcción...</h3>