<p id="notice"><%= notice %></p>

<h1>Listing Lists</h1>

<div class="row">
  <% @lists.each do |list| %>
  <ul class="collection with-header col s2">
        <li class="collection-header"><h4><%= link_to list.title, list %></h4></li>
  </ul>
  <% end %>
</div>


<br>

<%= link_to 'New List', new_list_path %>
