<p id="notice"><%= notice %></p>

<h1 class="center-align">Listas</h1>

<div class="row center-align">
  <% @lists.each do |list| %>
  <ul class="col s6">
        <li class="card-panel"><h4><%= link_to list.title, list %></h4></li>
  </ul>
  <% end %>
</div>
<div class="row">
	<div class="col s1 offset-s10">
	 	<%= link_to new_list_path, class:"btn-floating btn-large waves-effect waves-light teal new" do %>
				<i class="material-icons">add</i>
		<% end %>
	</div>
</div>

				


