<footer class="page-footer light-blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Informacion</h5>
        <p class="grey-text text-lighten-4">Página para el Diplomado en Desarrollo Web 2015 del Centro Universitario del Sur, Jalisco, México</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Enlaces</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/CarlosGAC/" target="_blank">Github</a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/CarlosGAWinnie" target="_blank">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/carlos.garciadealba.winnie" target="_blank">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://mx.linkedin.com/in/carlos-alberto-garcia-de-alba-chavez-895211100" target="_blank">Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2015 Copyright MADE
      <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/made.made.1654" target="_blank">MADE</a>
    </div>
  </div>
</footer>